<p-card header="Building" *ngIf="building">
    <div class="card-content">
        <!-- Building Info Section -->
        <div class="flex justify-content-start gap-2">
            <!-- QR Code Display Section -->
            <div class="qr-section">
                <div
                    *ngIf="building?.qrUuid"
                    class="flex flex-column align-items-center"
                >
                    <qrcode
                        [qrdata]="building.qrUuid"
                        [allowEmptyString]="true"
                        [cssClass]="'center'"
                        [errorCorrectionLevel]="'high'"
                        [colorDark]="'#111827'"
                        [colorLight]="'#FFFFFF00'"
                        [elementType]="'svg'"
                        [scale]="1"
                        [title]="'BuildingQr'"
                        [width]="200"
                        class="m-0 p-0"
                    >
                    </qrcode>
                    <p class="text-sm mt-2">
                        <strong>QRUUID:</strong> {{ building.qrUuid }}
                    </p>
                </div>
                <div
                    *ngIf="!building.qrUuid"
                    class="surface-300 flex flex-column justify-content-center align-items-center border-round"
                    style="width: 200px; height: 200px"
                >
                    <i class="pi pi-qrcode text-4xl mb-2"></i>
                    <p>No Building QR</p>
                </div>
            </div>

            <!-- Building Details Section -->
            <div class="flex flex-column align-items-end">
                <p><strong>Building Id:</strong> {{ building?.id }}</p>
                <p><strong>Latitude:</strong> {{ building?.lat }}</p>
                <p><strong>Longitude:</strong> {{ building?.lng }}</p>
                <p>
                    <strong>Address:</strong>
                    {{ building.address ? building.address : "NA" }}
                </p>
                <p><strong>Protected:</strong> {{ building?.isProtected }}</p>
                <div class="mt-2">
                    <p-button
                        *ngIf="building.isProtected"
                        severity="danger"
                        label="Assign Not-Protected"
                        class="mr-2"
                        severity="secondary"
                        size="small"
                        (click)="toggleIsProtected()"
                    >
                    </p-button>
                    <p-button
                        *ngIf="!building.isProtected"
                        label="Assign Protected"
                        class="mr-2"
                        severity="secondary"
                        size="small"
                        (click)="toggleIsProtected()"
                    >
                    </p-button>
                </div>
            </div>
        </div>

        <!-- QR Actions Section -->
        <div
            class="mt-3 flex justify-content-end align-items-center border-top-1 border-300 pt-3"
        >
            <p-button
                label="Map QR"
                icon="pi pi-qrcode"
                size="small"
                [disabled]="building?.qrUuid"
                (click)="startScan()"
            >
            </p-button>
            <p-button
                *ngIf="building?.qrUuid"
                icon="pi pi-times"
                severity="danger"
                class="ml-2"
                size="small"
                label="UnMap QR"
                (click)="unMapQr()"
            >
            </p-button>
        </div>
    </div>
</p-card>

<p-card header="Building" *ngIf="!building">
    <div class="flex flex-column justify-content-center align-items-center">
        <img style="height: 150px; width: auto" src="assets/nodata.png" />
        <p>Building Details not found for BuildingID {{ buildingId }}</p>
    </div>
</p-card>

<p-confirmDialog></p-confirmDialog>
