<div class="p-6">
    <h2 class="text-lg font-semibold mb-4">Upload Building Sketch</h2>

    <!-- File Upload Input -->
    <div class="flex flex-column align-items-center my-2">
        <label
            for="sketchUpload"
            class="cursor-pointer p-button p-button-primary"
        >
            <i class="pi pi-upload"></i>
            <span>Choose File</span>
        </label>
        <input
            id="sketchUpload"
            type="file"
            (change)="onFileSelected($event)"
            class="hidden"
            accept=".png, .jpg, .jpeg"
        />
        <p class="mt-2 text-sm text-gray-600" *ngIf="selectedFile">
            Selected File: {{ selectedFile.name }}
        </p>
    </div>

    <!-- Upload Button -->
    <div class="mt-4 flex justify-content-center" *ngIf="selectedFile">
        <button
            pButton
            type="button"
            label="Upload"
            icon="pi pi-cloud-upload"
            class="p-button-primary"
            [disabled]="!selectedFile"
            (click)="uploadFile()"
        ></button>
    </div>

    <!-- Uploaded Sketches -->
    <div class="flex flex-column mt-4">
        <div
            *ngFor="let image of buildingSketches"
            class="border-1 w-full surface-border border-round shadow-2 overflow-hidden"
        >
            <div
                class="w-full h-12rem bg-cover bg-center"
                [ngStyle]="{
                    'background-image': 'url(' + getImageUri(image.uri) + ')'
                }"
            ></div>
            <div class="p-3 flex justify-content-between align-items-center">
                <button
                    pButton
                    type="button"
                    label="Delete"
                    icon="pi pi-trash"
                    class="p-button-danger p-button-text"
                    (click)="deletePhoto(image)"
                ></button>
            </div>
        </div>
    </div>

    <!-- PrimeNG Toast and Confirm Dialog -->
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
</div>
