<div class="p-4">
    <p *ngIf="!buildingDetails" class="text-red-500">
        *Building Details not added. Please add Building Details
    </p>

    <!-- Floor Level Selector -->
    <div *ngIf="buildingDetails">
        <div class="flex justify-content-between mb-4" *ngIf="totalFloorCount">
            <p>Total Floors: {{ totalFloorCount }}</p>
            <p>Floor Configuration: {{ getFloorConfig(buildingDetails) }}</p>
        </div>

        <div
            class="flex justify-content-between gap-4 my-2"
            *ngIf="totalFloorCount"
        >
            <div class="flex flex-1 align-item-center p-fluid">
                <p class="bg-gray-50 text-gray-900 rounded-sm block p-2">
                    Select Floor Level
                </p>
                <p-dropdown
                    [(ngModel)]="selectedFloor"
                    [options]="floorsArray"
                    placeholder="Select Floor"
                    class="flex-1"
                    (onChange)="getUnitsByFloorLevel()"
                ></p-dropdown>
            </div>
            <div>
                <button
                    pButton
                    type="button"
                    label="Add Units"
                    icon="pi pi-plus"
                    size="small"
                    class="p-button-primary"
                    (click)="openAddUnitsModal()"
                ></button>
            </div>
        </div>

        <p *ngIf="!totalFloorCount">
            *No Floors Details added. Please add Floor Details
        </p>
        <p-divider></p-divider>
        <!-- Units List -->
        <div *ngIf="units.length" class="grid">
            <div *ngFor="let unit of units" class="col-12 md:col-6 lg:col-4">
                <div class="surface-card p-4 shadow-2 border-round">
                    <div class="flex flex-column gap-3">
                        <!-- QR and Unit Number -->
                        <div class="flex align-items-center gap-3">
                            <div>
                                <qrcode
                                    *ngIf="unit.qrUuid"
                                    [qrdata]="unit.qrUuid"
                                    [allowEmptyString]="true"
                                    [cssClass]="'center'"
                                    [errorCorrectionLevel]="'high'"
                                    [colorDark]="'#7AADA6'"
                                    [colorLight]="'#FFFFFF00'"
                                    [elementType]="'svg'"
                                    [scale]="1"
                                    [title]="'UnitQR'"
                                    [width]="70"
                                ></qrcode>
                            </div>
                            <div class="flex-1">
                                <h3 class="m-0 font-bold">
                                    {{ unit.unitNumberPrefix }}-{{
                                        unit.unitNumber
                                    }}
                                </h3>
                                <div
                                    *ngIf="unit.isLocked"
                                    class="flex align-items-center mt-2"
                                >
                                    <i class="pi pi-lock text-primary mr-2"></i>
                                    <span class="text-sm text-primary"
                                        >Locked</span
                                    >
                                </div>
                                <p
                                    *ngIf="unit.unitDetail"
                                    class="text-sm text-500 mt-1 mb-0"
                                >
                                    {{ unit.unitDetail.name }}
                                </p>
                            </div>
                            <div *ngIf="unit.unitDetail">
                                <span class="mb-2 text-600 font-medium">
                                    {{ unit.unitDetail.occupancyStatus }},
                                </span>
                                <span
                                    *ngIf="unit.unitDetail.use"
                                    class="mb-2 text-600"
                                >
                                    {{ unit.unitDetail.use }},
                                </span>
                                <span
                                    *ngIf="unit.unitDetail.rent"
                                    class="mb-0 text-600"
                                >
                                    Rent: {{ unit.unitDetail.rent }}
                                </span>
                            </div>
                        </div>

                        <!-- Unit Details -->

                        <!-- Actions -->
                        <div class="flex gap-2 justify-content-end">
                            <p-button
                                type="button"
                                label="Edit"
                                icon="pi pi-pencil"
                                size="small"
                                class="p-button-outlined"
                                (click)="openEditUnitModal(unit)"
                            ></p-button>
                            <p-button
                                type="button"
                                label="QR"
                                size="small"
                                icon="pi pi-qrcode"
                                class="p-button-outlined"
                                (click)="openViewUnitQR(unit)"
                            ></p-button>
                            <p-button
                                type="button"
                                label="Details"
                                icon="pi pi-pencil"
                                size="small"
                                class="p-button-outlined p-button-secondary"
                                (click)="openViewUnitDetails(unit)"
                            ></p-button>
                            <p-button
                                icon="pi pi-trash"
                                size="small"
                                severity="danger"
                                (click)="confirmDeleteUnit(unit)"
                            ></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="totalFloorCount && !units.length">
            <p>No Units added</p>
        </div>
    </div>
    <p-confirmDialog></p-confirmDialog>
</div>
